<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智能商贸系统 - 后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/themes/bootstrap/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/easyui/demo/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/${template}/index.css}">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/

        console.debug(ctxPath);
    </script>
    <script type="text/javascript" th:src="@{/plugins/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquerySerializeJSON/jquery.serializejson.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div id="toolbar">
    <div>
        <a href="javascript:void(0);" data-method="add" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:void(0);" data-method="edit" class="easyui-linkbutton" iconCls="icon-edit"
           plain="true">修改</a>
        <a href="javascript:void(0);" data-method="del" class="easyui-linkbutton" iconCls="icon-remove"
           plain="true">删除</a>
    </div>
    <div>
        <form id="searchForm" th:action="@{/management/${template}/get${template}s}" method="post">
            <label>用户名： <input name="username" class="easyui-textbox" style="width:80px;height:32px"></label>
            <label>邮件: <input name="email" class="easyui-textbox" style="width:80px;height:32px"></label>
            <label>部门 :<input class="easyui-combobox" name="departmentId"
                              data-options="valueField:'id',textField:'name',editable:false"
                               th:url="@{/management/department/getdepartments}"></label>
            <a href="javascript:void(0);" data-method="search" class="easyui-linkbutton" iconCls="icon-search">查找</a>
        </form>
    </div>
</div>
<table id="${template}Grid" style="width: 100%;height: 300px;"></table>


<script type="text/javascript" th:src="@{/js/${template}/index.js}"></script>
</body>
</html>